{% extends "base.html" %} 
{% block title %}About Us{% endblock %} 
{% block content %}
<style>
  .A1 {
 
    background-color:#E0FFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 250px;
    margin: 300px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    padding-top: 10px;"
  }

</style>

<div class="region-content desktop:grid-col-fill">
  <div class="region region-content">
    <div data-drupal-messages-fallback class="hidden"></div>
    <div class="A1">
    <div
      id="block-uswds-ready-page-title"
      class="block block-core block-page-title-block"
    >
      <h1 class="uswds-page-title page-title">
        <span
          class="field field--name-title field--type-string field--label-hidden"
          >About Disaster Preparedness</span
        >
      </h1>
    </div>

    <div
      class="views-element-container block block-views block-views-blocktranslations-available-block-1"
      id="block-views-block-translations-available-block-1"
    >
      <div>
        <div
          class="view view-translations-available view-id-translations_available view-display-id-block_1 js-view-dom-id-2dec43ce480f807e3f84ad47930ba82a5bb956ce13ddbc72c3303c8e23da6641"
        >
          <div
            id="block-uswds-ready-ready2017-system-main"
            class="block block-system block-system-main-block"
          >
            <article data-history-node-id="476">
              <div>
                <div class="layout layout--onecol">
                  <div class="layout__region layout__region--content">
                    <div
                      class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                    >
                      <p>
                        Launched in February 2024,to educate and empower the
                        Kenyan people to prepare for, respond to and mitigate
                        emergencies and disasters. The goal of the it is
                        to promote preparedness through public involvement.
                      </p>

                      <p>
                        Community Disaster preparedness help to achieve the following:
                      </p>

                      <div class="wp-block-fema-checklist checklist_fema">
                        <div class="checklist_fema_blocks">
                          <ul>
                            <li>
                              Stay informed about the different types of
                              emergencies that could occur and their appropriate
                              responses
                            </li>

                            <li>Make a family emergency plan.</li>

                            <li>Build an emergency supply kit</li>

                            <li>
                              Get involved in your community by taking action to
                              prepare for emergencies.
                            </li>
                          </ul>
                        </div>
                      </div>

                      <figure class="wp-block-image">
                        <img
                          src="/static/Images/family1.webp"
                          alt="Family of 5 preparing for emergency checking emergency preparedness list"
                        />
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}



