      {% extends "base.html" %}
      {% block content %}
      <style>
        .c1 {
       
          background-color:#E0FFFF;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          padding: 250px;
          margin: 300px;
          margin-bottom: 10px;
          margin-top: 0px;
          text-align: left;
          padding-top: 10px;"
        }
      </style>
        <div class="region-content desktop:grid-col-fill">
              <div class="region region-content">
        <div data-drupal-messages-fallback class="hidden"></div>

        <div class="c1">

      <div id="block-uswds-ready-ready2017-system-main" class="block block-system block-system-main-block">
          <form class="webform-submission-form webform-submission-add-form webform-submission-contact-ready-campaign-form webform-submission-contact-ready-campaign-add-form js-webform-details-toggle webform-details-toggle usa-form" data-drupal-selector="webform-submission-contact-ready-campaign-add-form" action="/webform/contact-us" method="post" id="webform-submission-contact-ready-campaign-add-form" accept-charset="UTF-8">

      <div id="edit-intro" class="usa-form-group js-form-item form-item js-form-type-processed-text form-item- js-form-item- form-no-label">
                <p>Thank you for your interest in contacting FEMA/Ready.gov.<p>
      <ul>
      <li>   <a href="">Visit our FAQs</a> to see if we have an answer for your question.</li>
      <li>   If you are a member of the media, please contact <a href="mailto:FEMA-News-Desk@fema.dhs.gov">FEMA's News Desk</a>.</li>
      <li>  If you are interested in doing business with FEMA, please visit: <a href="https://www.fema.gov/industry-liaison-program">Industry Liaison Program</a>.</li>
      <li>   To learn more about FEMA's virtual clearing house that shares two-way information between the public and private sector before, during, after disasters visit: <a href="https://www.fema.gov/industry-liaison-program">National Business Emergency Operations Center (NBEOC)</a>.</li>
      </ul>
      </p>

      <p><strong>Disaster survivors, please contact us here:</strong></p>

      <ul>
      <li>Phone: https://www.kenyans.co.ke/node/72427</li>
      <li>https://www.dignited.com/102891/emergency-services-contacts-kenya/</li>
      </ul>

      <p>For other inquiries, please fill out our online form and we will route your request to the appropriate internal office or dial 999, 911, and 112 for general preparedness information.</p>

      <p><strong>Additional contact information:</strong></p>

      <p>Disaster preparedness<br/>
        the Ministry of Health through 0800721316<br/>
        the Kenya Red Cross through 1199<br/>
        the National Disaster Operations Centre through 0715 820219<br/>
        the National Police Service through 999, 911, and 112<br/>
        the Kenya Power and Lighting Company through 95551
     </p>

    </div>
      <div class="kenya-form-group js-form-item form-item js-form-type-textfield form-item-first-name js-form-item-first-name">
              <label for="edit-first-name" class="usa-label usa-input--required js-form-required form-required">First Name </label>
              <input data-drupal-selector="edit-first-name" type="text" id="edit-first-name" name="first_name" value="" size="60" maxlength="255" class="form-text required usa-input" required="required" aria-required="true" />
        </div>
      <div class="Kenya-form-group js-form-item form-item js-form-type-textfield form-item-last-name js-form-item-last-name">
              <label for="edit-last-name" class="usa-label usa-input--required js-form-required form-required">Last Name </label>
              <input data-drupal-selector="edit-last-name" type="text" id="edit-last-name" name="last_name" value="" size="60" maxlength="255" class="form-text required usa-input" required="required" aria-required="true" />
          </div>
          <div class="Kenya-form-group js-form-item form-item js-form-type-email form-item-email js-form-item-email">
              <label for="edit-email" class="usa-label usa-input--required js-form-required form-required">Email </label>
              <input data-drupal-selector="edit-email" type="email" id="edit-email" name="email" value="" size="60" maxlength="254" class="form-email required usa-input" required="required" aria-required="true" />
          </div>

          <div class="Kenya-form-group js-form-item form-item js-form-type-select form-item-county js-form-item-state">
              <label for="edit-county" class="usa-label usa-input--required js-form-required form-required">county </label>
              <select data-drupal-selector="edit-state" id="edit-counties" name="counties" class="form-select required kenya-select" required="required" aria-required="true">
                <option value="" selected="selected">- Select -</option>
                <option value="Baringo">Baringo</option>
                <option value="Bomet">Bomet</option>
                <option value="Bungoma">Bungoma</option>
                <option value="Busia">Busia</option>
                <option value="Elgeyo-Marakwet">Elgeyo-Marakwet</option>
                <option value="Embu">Embu</option>
                <option value="Garissa">Garissa</option>
                <option value="Homa Bay">Homa Bay</option>
                <option value="Isiolo">Isiolo</option>
                <option value="Kajiado">Kajiado</option>
                <option value="Kakamega">Kakamega</option>
                <option value="Kericho">Kericho</option>
                <option value="Kiambu">Kiambu</option>
                <option value="Kilifi">Kilifi</option>
                <option value="Kirinyaga">Kirinyaga</option>
                <option value="Kisii">Kisii</option>
                <option value="Kisumu">Kisumu</option>
                <option value="Kitui">Kitui</option>
                <option value="Laikipia">Laikipia</option>
                <option value="Lamu">Lamu</option>
                <option value="Machakos">Machakos</option>
                <option value="Makueni">Makueni</option>
                <option value="Mandera">Mandera</option>
                <option value="Marsabit">Marsabit</option>
                <option value="Meru">Meru</option>
                <option value="Migori">Migori</option>
                <option value="Mombasa">Mombasa</option>
                <option value="Murang'a">Murang'a</option>
                <option value="Nairobi">Nairobi</option>
                <option value="Nakuru">Nakuru</option>
                <option value="Nandi">Nandi</option>
                <option value="Narok">Narok</option>
                <option value="Nyamira">Nyamira</option>
                <option value="Nyandarua">Nyandarua</option>
                <option value="Nyeri">Nyeri</option>
                <option value="Samburu">Samburu</option>
                <option value="Siaya">Siaya</option>
                <option value="Taita-Taveta">Taita-Taveta</option>
                <option value="Tana River">Tana River</option>
                <option value="Tharaka-Nithi">Tharaka-Nithi</option>
                <option value="Trans Nzoia">Trans Nzoia</option>
                <option value="Turkana">Turkana</option>
                <option value="Uasin Gishu">Uasin Gishu</option>
                <option value="Vihiga">Vihiga</option>
                <option value="Wajir">Wajir</option>
                <option value="West Pokot">West Pokot</option>
                </select>
          </div
          >

        <div class="Kenya-form-group js-form-item form-item js-form-type-textfield form-item-subject js-form-item-subject">
              <label for="edit-subject" class="Kenya-label usa-input--required js-form-required form-required">Subject </label>
              <input data-drupal-selector="edit-subject" type="text" id="edit-subject" name="subject" value="" size="60" maxlength="255" class="form-text required usa-input" required="required" aria-required="true" />
        </div>

         <div class="Kenya-form-group js-form-item form-item js-form-type-textarea form-item-enter-your-question-comment js-form-item-enter-your-question-comment">
              <label for="edit-enter-your-question-comment" class="usa-label usa-input--required js-form-required form-required">Enter Your Question/Comment below </label>
              <div class="form-textarea-wrapper">
              <textarea data-drupal-selector="edit-enter-your-question-comment" id="edit-enter-your-question-comment" name="enter_your_question_comment" rows="5" cols="60" maxlength="1000" class="form-textarea required usa-textarea resize-vertical" required="required" aria-required="true"></textarea>
         </div>

          </div>


        <fieldset  data-drupal-selector="edit-captcha" class="captcha captcha-type-challenge--math">
              <legend class="captcha__title js-form-required form-required">
                CAPTCHA
              </legend>
         <div class="captcha__element">
                <input data-drupal-selector="edit-captcha-sid" type="hidden" name="captcha_sid" value="414452" />
                <input data-drupal-selector="edit-captcha-token" type="hidden" name="captcha_token" value="rLQG-oNPyfuWR1nwb0n-7oJ_jjtXdNIzuhw5SYRdVKU" />
         <div class="Kenya-form-group js-form-item form-item js-form-type-textfield form-item-captcha-response js-form-item-captcha-response">
          
         <label for="edit-captcha-response" class="usa-label usa-input--required js-form-required form-required">Please answer the following simple math question </label>
              <span class="field-prefix">3 + 1 =</span>
          <input autocomplete="off" data-drupal-selector="edit-captcha-response" aria-describedby="edit-captcha-response--description" type="text" id="edit-captcha-response" name="captcha_response" value="" size="4" maxlength="2" class="form-text required usa-input" required="required" aria-required="true" />

        <div id="edit-captcha-response--description" class="description">
          This will allow us to preclude submissions from automated SPAMbots
        </div>
        </div>

        </div>
        <div class="captcha__description description">This question is for testing whether or not you are a human visitor and to prevent automated spam submissions.</div>
        </fieldset>

    <input autocomplete="off" data-drupal-selector="form-w-ypf7wokq9c0jrk85ywiigjqk1qdtcfkxllsvezwfo" type="hidden" name="form_build_id" value="form-w_YpF7WOKQ9c0Jrk85YwIIgjqK1qDTcfKxLlSvEzwFo" />
      <input data-drupal-selector="edit-webform-submission-contact-ready-campaign-add-form" type="hidden" name="form_id" value="webform_submission_contact_ready_campaign_add_form" />
      <input data-drupal-selector="edit-honeypot-time" type="hidden" name="honeypot_time" value="8BZ1_TfYwtnSwpUSNj8vEwH88H9dp5ocP_dF4q5jWzU" />
      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input class="webform-button--submit button button--primary js-form-submit form-submit usa-button" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Submit" />

      </div>

      <div class="url-textfield js-form-wrapper form-wrapper" style="display: none !important;"><div class="usa-form-group js-form-item form-item js-form-type-textfield form-item-url js-form-item-url">
             <label for="edit-url" class="usa-label">Leave this field blank <span class="usa-hint">(optional)</span></label>
              <input autocomplete="off" data-drupal-selector="edit-url" type="text" id="edit-url" name="url" value="" size="20" maxlength="128" class="form-text usa-input" />

          </div>
      </div>
      <div class="container">
      <div class="card">
        <div class="inner-box" id="card">
            <div class="card-front">
                <h2>Contact Us</h2>
                <form>
                    <input type="email" class="input-box" placeholder="Enter Email Id" required>
                    <input type="password" id="password" class="input-box" placeholder="Enter Password" required>
                    <p id="message">Password is <span id="strength"></span></p>
                    <button type="submit" class="submit-btn">Login</button>
                    <input type="checkbox"><span>Remember Me</span>
                </form>
                <button type="button" class="btn" onclick="openRegister()">Don't have an account?</button>
                <a href="">Forgot Password</a>
            </div>
          </div>
        </div>

<style>
  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: ;
}
.card{
    color: blue;
    height: 500px;
    perspective: 1000px;
}
  .card h2{
    width: 350px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 50px
    width: 350

}
.input-box{
    width: 300%;
    background: transparent;
    border: 2px solid Green;
    margin: 6px 0;
    height: 55px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: white;
    cursor: pointer;
}
::placeholder{
    color: blue;
    font-size: 29px;
}
  .card{
    width: 350px;
    height: 500px;
    perspective: 1000px;
  }
  .card-front, .card-back{
    position: ;
    height: 200%;
    background-position: center;
    background-size: cover;
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
    border-radius: 10px;
    
}


  </style>

</div>


</section>



      </form>
    </div>

      </div>

      </div>

      {% endblock %}
