{% extends "base.html" %} {% block content %}
<style>
  .dr {
    background-color:#E0FFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 200px;
    padding-top: 10px;
    margin: 300px;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 0px;
}

  </style>
<div class="region-content desktop:grid-col-fill">
  <div class="region region-content">
    <div data-drupal-messages-fallback class="hidden"></div>
      <div class="hero-image-container">
        <img loading="lazy" src="/static/Images/drought.png" width="67%" height="400" style="margin-top:0px; border-radius:5px; margin-bottom:0px; margin-left: 300px" alt="A wilted sunflower" />
      </div>
    <div class ="dr">
    <div
      id="block-uswds-ready-page-title"
      class="block block-core block-page-title-block">
      <h1 class="uswds-page-title page-title">
        <span
          class="field field--name-title field--type-string field--label-hidden"
          >Drought</span
        >
      </h1>
    </div>
    <div
      class="views-element-container block block-views block-views-blocktranslations-available-block-1"
      id="block-views-block-translations-available-block-1">
      <div>
        <div
          class="view view-translations-available view-id-translations_available view-display-id-block_1 js-view-dom-id-7dd1b23fea7666cf6c9b4c53e2e5bba02df1f05cd00b5690d4303a75739fc93d"
        >
          <div class="view-content">
            <div
              id="block-uswds-ready-ready2017-system-main"
              class="block block-system block-system-main-block"
            >
              <article data-history-node-id="3631">
                <div>
                  <div class="layout layout--onecol">
                    <div class="layout__region layout__region--content">
                      <div
                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                      >
                        <a class="fema-link" href="#before"
                          ><p>Before a Drought</p></a
                        >

                        <a class="fema-link" href="#during"
                          ><p>During a Drought</p></a
                        >

                        <p>
                          Nearly every part of the U.S. experiences periods of
                          reduced rainfall. Planning in advance for a drought
                          can protect us in dry years.
                        </p>

                        <h2 id="before"><strong>Before a Drought</strong></h2>

                        <p>
                          The best way to prepare for a drought is to conserve
                          water. Make conserving water a part of your daily
                          life.
                        </p>

                        <h3>
                          <strong
                            >Indoor Water Conservation Tips Before a
                            Drought</strong
                          >
                        </h3>

                        <div class="wp-block-drupalmedia-drupal-media-entity">
                          <article
                            class="media media--type-graphic media--view-mode-default"
                          >
                            <div class="layout layout--onecol">
                              <div
                                class="layout__region layout__region--content"
                              >
                                <div
                                  class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                                >
                                  <div class="field__label visually-hidden">
                                    Image
                                  </div>
                                  <div class="field__item">
                                    <img
                                      loading="lazy"
                                      src="/static/Images/istockphoto-104115644-2048x2048.jpg"
                                      width="480"
                                      height="395"
                                      alt="a man fixing a leaking sink pipe"
                                      class="image-style-large"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>

                        <p><strong>GENERAL</strong></p>

                        <ul>
                          <li>
                            Never pour water down the drain when there may be
                            another use for it. For example, use it to water
                            your indoor plants or garden.
                          </li>
                          <li>
                            Fix dripping faucets by replacing washers. One drop
                            per second wastes 2,700 gallons of water a year.
                          </li>
                          <li>
                            Check all plumbing for leaks and have any leaks
                            repaired by a plumber.
                          </li>
                          <li>
                            Retrofit all household faucets by installing
                            aerators with flow restrictors.
                          </li>
                          <li>
                            Install an instant hot water heater on your sink.
                          </li>
                          <li>
                            Insulate your water pipes to reduce heat loss and
                            prevent them from breaking.
                          </li>
                          <li>
                            Install a water-softening system only when the
                            minerals in the water would damage your pipes. Turn
                            the softener off while on vacation.
                          </li>
                          <li>
                            Choose appliances that are more energy and water
                            efficient.
                          </li>
                        </ul>

                        <div class="wp-block-columns">
                          <div class="wp-block-column">
                            <p><strong>BATHROOM</strong></p>

                            <ul>
                              <li>
                                Consider purchasing a low-volume toilet that
                                uses less than half the water of older models.
                              </li>
                              <li>
                                Install a toilet displacement device to cut down
                                on the amount of water needed to flush. Place a
                                one-gallon plastic jug of water into the tank to
                                displace toilet flow. Make sure it&nbsp;does not
                                interfere with the operating parts.
                              </li>
                              <li>
                                Replace your showerhead with an ultra-low-flow
                                version.
                              </li>
                            </ul>
                          </div>
                          <div class="wp-block-column">
                            <p><strong>KITCHEN</strong></p>

                            <ul>
                              <li>
                                Instead of using the garbage disposal, throw
                                food in the garbage or&nbsp;start a compost pile
                                to dispose it.
                              </li>
                            </ul>
                          </div>
                        </div>
                        <h3>
                          <strong
                            >Outdoor Water Conservation Tips Before&nbsp;a
                            Drought</strong
                          >
                        </h3>
                        <div class="wp-block-drupalmedia-drupal-media-entity">
                          <article
                            class="media media--type-graphic media--view-mode-default"
                          >
                            <div class="layout layout--onecol">
                              <div
                                class="layout__region layout__region--content"
                              >
                                <div
                                  class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                                >
                                  <div class="field__label visually-hidden">
                                    Image
                                  </div>
                                  <div class="field__item">
                                    <img
                                      loading="lazy"
                                      src="/static/Images/sprinkle water.jpg"
                                      width="480"
                                      height="394"
                                      alt="Illustration of a sprinkler spraying water on grass"
                                      class="image-style-large"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>

                        <p><strong>GENERAL</strong></p>

                        <ul>
                          <li>
                            If you have a well pump, check it periodically. If
                            the automatic pump turns on and off while water is
                            not being used, you have a leak.
                          </li>
                          <li>
                            Plant native and/or drought-tolerant grasses, ground
                            covers, shrubs and trees. Once established, your
                            plants won't need as much watering. Group plants
                            together based on similar water needs.
                          </li>
                          <li>
                            Don't install ornamental water features (such as
                            fountains) unless they use re-circulated water.
                          </li>
                          <li>
                            Consider rainwater harvesting where practical.
                          </li>
                          <li>
                            Contact your local water provider for information
                            and assistance.
                          </li>
                        </ul>

                        <div class="wp-block-columns">
                          <div class="wp-block-column">
                            <p><strong>LAWN CARE</strong></p>

                            <ul>
                              <li>
                                Position sprinklers so water lands on the lawn
                                and shrubs and not on paved areas.
                              </li>
                              <li>Repair sprinklers that spray a fine mist.</li>
                              <li>
                                Check sprinkler systems and timing devices
                                regularly to be sure they operate properly.
                              </li>
                              <li>
                                Raise the lawn mower blade to at least three
                                inches or to its highest level. A higher cut
                                encourages grass roots to grow deeper and holds
                                soil moisture.
                              </li>
                              <li>
                                Plant drought-resistant lawn seed. Reduce or
                                eliminate lawn areas that are not used
                                frequently.
                              </li>
                              <li>
                                Don't over-fertilize your lawn. Applying
                                fertilizer increases the need for water. Apply
                                fertilizers that contain slow-release,
                                water-insoluble forms of nitrogen.
                              </li>
                              <li>
                                Choose a water-efficient irrigation system such as drip irrigation for your trees, shrubs andflowers.
                              </li>
                            </ul>
                          </div>

                          <div class="wp-block-column">
                            <ul>
                              <li>
                                Water manually in fall and winter only if needed.
                              </li>
                              <li>
                                Use mulch around trees and plants to retain moisture in the soil. Mulch also helps control weeds that compete with plants for water.
                              </li>
                              <li>
                                Invest in a weather-based irrigation controller—or a smart controller. These devices will automatically adjust the watering time and
                                frequency based on soil moisture, rain, wind,and evaporation and transpiration rates. Check with your local water agency to see if there is
                                a rebate available for the purchase of a smart controller.
                              </li>
                            </ul>
                            <p><strong>POOL</strong></p>
                            <ul>
                              <li>
                                Install a water-saving pool filter. A single back flushing with a traditional filter uses 180 to 250 gallons of water.
                              </li>
                              <li>
                                Cover pools and spas to reduce water evaporation.
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="wp-block-columns">
                          <div class="wp-block-column">
                            <p></p>
                          </div>
                        </div>
                        <h2 id="during"><strong>During a Drought</strong></h2>

                        <p>
                          Always observe state and local restrictions on water
                          use during a drought. Contact your&nbsp;<a
                            href="https://www.wfp.org/"
                            >National or local government&nbsp;</a
                          >for current information and suggestions.
                        </p>
                        <h3>
                          <strong
                            >Indoor Water Conservation Tips During a
                            Drought</strong
                          >
                        </h3>
                        <div class="wp-block-drupalmedia-drupal-media-entity">
                          <article
                            class="media media--type-graphic media--view-mode-default"
                          >
                            <div class="layout layout--onecol">
                              <div
                                class="layout__region layout__region--content"
                              >
                                <div
                                  class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                                >
                                  <div class="field__label visually-hidden">
                                    Image
                                  </div>
                                  <div class="field__item">
                                    <img
                                      loading="lazy"
                                      src="/static/Images/indoor2.jpg"
                                      width="480"
                                      height="395"
                                      alt="Illustration of a shower and a stop watch "
                                      class="image-style-large"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                        <div class="wp-block-columns">
                          <div class="wp-block-column">
                            <p><strong>BATHROOM</strong></p>
                            <ul>
                              <li>
                                Avoid flushing the toilet unnecessarily. Dispose of tissues, insects and other similar waste in
                                the trash rather than the toilet.
                              </li>
                              <li>
                                Take short showers instead of baths. Turn on the;water only to get wet and lather and then again to rinse off.
                              </li>
                              <li>
                                Avoid letting the water run while brushing your teeth, washing your face or shaving.
                              </li>
                            </ul>
                            <p><strong>LAUNDRY</strong></p>
                            <ul>
                              <li>
                                Operate clothes washers only when they are fully loaded or set the water level for the size of your load.
                              </li>
                            </ul>
                          </div>
                          <div class="wp-block-column">
                            <p><strong>KITCHEN</strong></p>
                            <ul>
                              <li>
                                Operate automatic dishwashers only when they are fully loaded. Use the "light wash" feature to use less water.
                              </li>
                              <li>
                                Hand wash dishes by filling two containers—one with soapy water and the other with rinse water containing a small amount of chlorine bleach.
                              </li>
                              <li>
                                Clean vegetables in a pan filled with water rather than running water from the tap.
                              </li>
                              <li>
                                Don't rinse dishes before placing them in the dishwasher, just remove large particles of food.
                              </li>
                              <li>
                                Avoid using running water to thaw meat or other frozen foods. Defrost food overnight in the
                                refrigerator or use the defrost setting on your microwave.
                              </li>
                            </ul>
                          </div>
                        </div>

                        <h3>
                          <strong
                            >Outdoor Water Conservation Tips During a
                            Drought</strong
                          >
                        </h3>

                        <div class="wp-block-drupalmedia-drupal-media-entity">
                          <article
                            class="media media--type-graphic media--view-mode-default"
                          >
                            <div class="layout layout--onecol">
                              <div
                                class="layout__region layout__region--content"
                              >
                                <div
                                  class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                                >
                                  <div class="field__label visually-hidden">
                                    Image
                                  </div>
                                  <div class="field__item">
                                    <img
                                      loading="lazy"
                                      src="/static/Images/Outdoors water.jpg"
                                      width="480"
                                      height="395"
                                      alt="hand using a screwdriver to check water levels"
                                      class="image-style-large"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>

                        <p><strong>Outdoor Water Preservation</strong></p>

                        <ul>
                          <li>
                            A heavy rain eliminates the need for watering for up to two weeks. Most of the year, lawns only need one inch of water per week.
                          </li>
                          <li>
                            Check the soil moisture levels with a soil probe,spade or large screwdriver. You don't need to water
                            if the soil is still moist. If your grass springs back when you step on it, it doesn't need water yet.
                          </li>
                          <li>
                            If your lawn does require watering, do so early in the morning or later in the evening, when
                            temperatures are cooler.
                          </li>
                          <li>
                            Water in several short sessions rather than one long one, in order for your lawn to better absorb
                            moisture and avoid runoff.
                          </li>
                          <li>
                            Avoid leaving sprinklers or hoses unattended. A garden hose can pour out 600 gallons or more in only a few hours.
                          </li>
                          <li>
                            In extreme drought, allow lawns to die in favor of preserving trees and large shrubs.
                          </li>
                        </ul>
                        <p><strong>CAR WASHING</strong></p>
                        <ul>
                          <li>
                            Use a commercial car wash that recycles water.
                          </li>
                          <li>
                            If you wash your own car, use a shut-off nozzle that can be adjusted down to a fine spray on your hose.
                          </li>
                        </ul>
                        <div class="wp-block-columns">
                          <div class="wp-block-column"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}