{% extends "base.html" %} 
{% block content %}
<style>
  .F1 {
 
    background-color:#E0FFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 250px;
    margin: 300px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    padding-top: 10px;"
  }
</style>

<div class="region-content desktop:grid-col-fill">
  <div class="region region-content">
    <div data-drupal-messages-fallback class="hidden"></div>
    <div class="F1">
    <div
      id="block-uswds-ready-page-title"
      class="block block-core block-page-title-block"
    >
      <h1 class="uswds-page-title page-title">
        <span
          class="field field--name-title field--type-string field--label-hidden"
          >Practice Your Home Fire Escape Plan
        </span>
      </h1>
    </div>
    <div
      class="views-element-container block block-views block-views-blocktranslations-available-block-1"
      id="block-views-block-translations-available-block-1"
    >
      <div>
        <div
          class="view view-translations-available view-id-translations_available view-display-id-block_1 js-view-dom-id-1b4b9c255ccb7ed112d4a3eaaea867a87bca410c13f692b98599ca2e4c7867b6"
        >
          <div
            id="block-uswds-ready-ready2017-system-main"
            class="block block-system block-system-main-block"
          >
            <article data-history-node-id="6144">
              <div>
                <div class="layout layout--onecol">
                  <div class="layout__region layout__region--content">
                    <div
                      class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                    >
                      <p>
                        <iframe
                          allow="autoplay; encrypted-media"
                          allowfullscreen=""
                          frameborder="0"
                          height="315"
                          src="https://www.youtube.com/embed/DIdCz8nP3hc"
                          width="560"
                        ></iframe>
                      </p>

                      <p>
                        Creating and practicing a home fire escape plan is
                        simple. Follow the steps below to make sure everyone in
                        your home is prepared and knows what to do in case of a
                        home fire.
                      </p>

                      <ul>
                        <li>
                          Make a written&nbsp;<a
                            rel="noreferrer noopener"
                            href="http://makesafehappen.com/articles/family-fire-escape-planning"
                            target="_blank"
                            >home fire escape plan</a
                          >&nbsp;and practice getting out in under 2 minutes.
                        </li>
                        <li>
                          Make sure you have&nbsp;<a
                            rel="noreferrer noopener"
                            href="https://makesafehappen.com/articles/home-smoke-alarms"
                            target="_blank"
                            >smoke alarms</a
                          >&nbsp;on every level of your home and in each
                          bedroom. Test them twice a year.
                        </li>
                        <li>
                          Download the&nbsp;<a
                            rel="noreferrer noopener"
                            href="http://makesafehappen.com/get-the-app"
                            target="_blank"
                            >Make Safe Happen app</a
                          >&nbsp;for a fire drill timer to practice your escape
                          plan.
                        </li>
                        <li>
                          Learn the best practices for&nbsp;<a
                            href="https://www.africafiremission.org/kenya-fire"
                            >home fire safety</a
                          >&nbsp;and&nbsp;fire safety
                          <a
                            rel="noreferrer noopener"
                            href="https://makesafehappen.com/articles/children-and-fire-safety"
                            target="_blank"
                            >with children</a
                          >.
                        </li>
                      </ul>

                      <h2>Make an Escape Plan</h2>

                      <div class="wp-block-fema-checklist checklist_fema">
                        <div class="checklist_fema__image--processed">
                          <article
                            class="contextual-region media media--type-graphic media--view-mode-default"
                          >
                            <div
                              data-contextual-id="media:media=1661:changed=1624471799&amp;langcode=en"
                              data-contextual-token="WqkHjSSAycPtRFrFyZrP6WYMDZlP1bIASeB9NCBR-k8"
                              data-drupal-ajax-container=""
                            ></div>
                            <div class="layout layout--onecol">
                              <div
                                class="layout__region layout__region--content"
                              >
                                <div
                                  class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                                >
                                  <div class="field__label visually-hidden">
                                    
                                  </div>
                                  <div class="field__item">
                                    <img
                                      loading="lazy"
                                      src="/static/Images/fireEscape.jpg"
                                      width="480"
                                      height="395"
                                      alt="A fire escape plan. "
                                      class="image-style-large"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                        <div class="checklist_fema_blocks">
                          <ul>
                            <li>
                              Learn two ways out of every room in your home, in
                              case one exit is blocked or dangerous to use. A
                              second way out can include an escape ladder for
                              rooms on an upper level.
                            </li>
                            <li>
                              Practice getting low and moving to your exits in
                              case there is smoke.
                            </li>
                            <li>
                              Choose a safe meeting place a safe distance from
                              your home.&nbsp;
                            </li>
                            <li>
                              Have a home fire drill at least twice a year.
                            </li>
                          </ul>
                        </div>
                      </div>

                      <h2>Children and Fire Safety</h2>

                      <p>
                        It is important to have a plan when there are children
                        in your home. Children may become very scared and need
                        clear direction and help getting out of the house. They
                        may not know how to escape or what to do unless an adult
                        shows them.
                      </p>

                      <div class="wp-block-fema-checklist checklist_fema">
                        <div class="checklist_fema__image--processed">
                          <article
                            class="contextual-region media media--type-graphic media--view-mode-default"
                          >
                            <div
                              data-contextual-id="media:media=1662:changed=1624471860&amp;langcode=en"
                              data-contextual-token="f3Jvt9YFUzL-NENQ01dvTZeF55tOPjfkttAl5vdOS-g"
                              data-drupal-ajax-container=""
                            ></div>
                            <div class="layout layout--onecol">
                              <div
                                class="layout__region layout__region--content"
                              >
                                <div
                                  class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                                >
                                  <div class="field__label visually-hidden">
                                    
                                  </div>
                                  <div class="field__item">
                                    <img
                                      loading="lazy"
                                      src="/static/Images/Teaching Escape Plan.webp"
                                      width="480"
                                      height="395"
                                      alt="Illustration of a mother showinghow to use a fire escape ladder. "
                                      class="image-style-large"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </article>
                        </div>
                        <div class="checklist_fema_blocks">
                          <ul>
                            <li>
                              Have a plan for young children under six who
                              cannot get outside by themselves. In your plan,
                              talk about who will help each child get out
                              safely.
                            </li>
                            <li>
                              Children should know what to do when they hear a
                              smoke alarm and there is no adult around. Help
                              them practice going to the outside meeting place.
                            </li>
                            <li>
                              Teach children to NEVER go back inside a burning
                              building. Once they are out, stay out!
                            </li>
                            <li>
                              Teach your child to get low and crawl on the
                              ground, where the air is less smoky.
                            </li>
                            <li>
                              Show a child how to use the back of their hand to
                              check doors for heat before opening and to use a
                              different way out if the door is hot.
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{%endblock%}