{% extends "base.html" %} {% block content %}

<style>
  .container2{
    width:1800px;
    margin :0 auto
  }
  .cont{
      background-color:#E0FFFF;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      padding: 250px;
      margin: 300px;
      margin-bottom: 10px;
      margin-top: 0px;
      text-align: left;
      padding-top: 10px;
  }
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('') center/cover no-repeat fixed;
    color: #333; /* Darker text color for better visibility */
}
</style>

<div class="container2">

<div class="region-content desktop:grid-col-fill">
  <div class="region region-content">
    <div data-drupal-messages-fallback class="hidden"></div>
    <div class="hero-image-container">
      <img loading="lazy" src="/static/Images/Flooded-neighborhood_1.jpg" width="67%" height="400" style="margin-top:2px ;border-radius:5px; margin-bottom: 0px; margin-left: 300px" alt="A wilted sunflower" />
    </div>
<div class = "cont">
    <div
      id="block-uswds-ready-page-title"
      class="block block-core block-page-title-block">
      <h1 class="uswds-page-title page-title">
        <span
          class="field field--name-title field--type-string field--label-hidden"
          >Floods</span
        >
      </h1>
    </div>
    <div
      class="views-element-container block block-views block-views-blocktranslations-available-block-1"
      id="block-views-block-translations-available-block-1">
      <div>
        <div
          class="view view-translations-available view-id-translations_available view-display-id-block_1 js-view-dom-id-37c2a06eaf562bec0f8d6cc9d2332314086eb092673c668db948705ceb2c5f0f"
        >
          <div class="view-content">
            <div
              id="block-uswds-ready-ready2017-system-main"
              class="block block-system block-system-main-block">
              <article data-history-node-id="3606">
                <div>
                  <div class="layout layout--onecol">
                    <div class="layout__region layout__region--content">
                      <div
                        class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                        <a class="fema-link" href="#prepare"><p>Prepare for a flood</p></a>
                        <a class="fema-link" href="#during"><p>During a flood</p></a>
                        <a class="fema-link" href="#after"><p>After a flood</p></a>

                        <p>
                          Flooding is a temporary overflow of water onto land
                          that is normally dry. Floods are the most common
                          disaster in Kenya. Failing to evacuate flooded areas
                          or entering flood waters can lead to injury or death.
                        </p>

                        <p>Floods may:</p>

                        <ul>
                          <li>
                            Result from rain, snow, coastal storms, storm surges
                            and overflows of dams and other water systems.
                          </li>
                          <li>
                            Develop slowly or quickly.&nbsp;Flash floods can
                            come with no warning.
                          </li>
                          <li>
                            Cause outages, disrupt transportation, damage
                            buildings and create landslides.
                          </li>
                        </ul>

                        <p>
                          &nbsp;<strong
                            >If you are under a flood warning:</strong
                          >
                        </p>

                        <div class="wp-block-fema-checklist checklist_fema">
                          <div class="checklist_fema__image--processed">
                            <article
                              class="contextual-region media media--type-graphic media--view-mode-default"
                            >
                              <div
                                data-contextual-id="media:media=1567:changed=1617996409;langcode=en"
                                data-contextual-token="iKsH08i2mhhU19opZRDsjNYQ8ZPctRYgeyoBKN74x-8"
                                data-drupal-ajax-container=""
                              ></div>
                              <div class="layout layout--onecol">
                                <div
                                  class="layout__region layout__region--content"
                                >
                                  <div class="warning">
                                    <img
                                      src="/static/Images/flood warning.jpg"
                                      width="480"
                                      height="395"
                                      class="image-style-large"
                                    />
                                  </div>
                                </div>
                              </div>
                            </article>
                          </div>
                          <div class="checklist_fema_blocks">
                            <ul>
                              <li>Find safe shelter right away.</li>
                              <li>
                                Do not walk, swim or drive through flood
                                waters<strong>. Turn Around, Don’t Drown!</strong>
                              </li>
                              <li>
                                Remember, just six inches of moving water can
                                knock you down, and one foot of moving water can
                                sweep your vehicle away.
                              </li>
                              <li>Stay off bridges over fast-moving water.</li>
                              <li>
                                Depending on the type of flooding:
                                <ul>
                                  <li>Evacuate if told to do so.</li>
                                  <li>
                                    Move to higher ground or a higher floor.
                                  </li>
                                  <li>Stay where you are.</li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <h2 id="prepare">
                          <strong>Preparing for a Flood</strong>
                        </h2>

                        <div class="wp-block-columns">
                          <div class="wp-block-column">
                            <p>
                              <strong>Know Your Risk for Floods</strong><br /><a
                                href=""
                                >Visit FEMA's Flood Map Service Center</a
                              >
                              to know types of flood risk in your area.&nbsp;
                              Sign up for your community’s warning system.
                              The&nbsp;<a
                                href="https://www.ifrc.org/press-release/kenya-red-cross-responds-humanitarian-emergency-following-deadly-floods"
                                >Emergency Alert System (EAS)</a
                              >&nbsp;and&nbsp;<a
                                href="https://www.ifrc.org/press-release/kenya-red-cross-responds-humanitarian-emergency-following-deadly-floods"
                                target="_blank"
                                rel="noreferrer noopener"
                                >National Oceanic and Atmospheric Administration
                                (NOAA)</a
                              >&nbsp;Weather Radio also provide emergency
                              alerts.
                            </p>

                            <p>
                              <strong>Purchase Flood Insurance</strong
                              ><br />Purchase or renew a flood insurance policy.
                              Homeowner’s insurance policies do not cover
                              flooding. It typically takes up to 30 days for a
                              policy to go into effect so the time to buy is
                              well before a disaster.
                              <a
                                href="https://www.ifrc.org/press-release/kenya-red-cross-responds-humanitarian-emergency-following-deadly-floods"
                                >Get flood coverage under the National Flood
                                Insurance Program (NFIP)</a
                              >.
                            </p>
                          </div>

                          <div class="wp-block-column">
                            <p>
                              <strong>Preparing for a Flood</strong><br /><a
                                href="https://www.ifrc.org/press-release/kenya-red-cross-responds-humanitarian-emergency-following-deadly-floods"
                                >Make a plan</a
                              >&nbsp;for your household, including
                              <a href="https://www.ifrc.org/press-release/kenya-red-cross-responds-humanitarian-emergency-following-deadly-floods">your pets</a>,
                              so that you and your family know what to do,
                              where to go, and what you will need to protect
                              yourselves from flooding. Learn and practice
                              evacuation routes, shelter plans, and flash flood
                              response. Gather supplies,&nbsp;including
                              non-perishable foods, cleaning supplies, and water
                              for several days, in case you must leave
                              immediately or if services are cut off in your
                              area.
                            </p>

                            <p>
                              <strong>In Case of Emergency<br /></strong>Keep
                              important documents in a waterproof container.
                              Create password-protected digital copies. Protect
                              your property. Move valuables to higher levels.
                              Declutter drains and gutters. Install check
                              valves. Consider a sump pump with a battery.
                            </p>
                          </div>
                        </div>

                        <h2 id="during">
                          <strong>Staying Safe During a Flood</strong>
                        </h2>

                        <div class="wp-block-fema-checklist checklist_fema">
                          <div class="checklist_fema__image--processed">
                            <article
                              data-quickedit-entity-id="media/1536"
                              class="contextual-region media media--type-graphic media--view-mode-default"
                            >
                              <div
                                data-contextual-id="media:media=1536:changed=1617996654&amp;langcode=en"
                                data-contextual-token="CvrLvADoHguxKCPhPinti4NWGQt8gHJ2DD6aDFhJNWM"
                              ></div>
                              <div class="layout layout--onecol">
                                <div
                                  class="layout__region layout__region--content"
                                >
                                  <div
                                    data-quickedit-field-id="media/1536/field_media_image/en/default"
                                    class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                                  >
                                    <div class="field__label visually-hidden">
                                      Image
                                    </div>
                                    <div class="field__item">
                                      <img
                                        src="/static/Images/car flood.jpg"
                                        width="480"
                                        height="395"
                                        alt="a car stopped at a flooded road. Sign reads warning, flood area. "
                                        typeof="foaf:Image"
                                        class="image-style-large"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </article>
                          </div>
                          <div class="checklist_fema_blocks">
                            <ul>
                              <li>
                                Evacuate immediately, if told to evacuate. Never
                                drive around barricades. Local responders use
                                them to safely direct traffic out of flooded
                                areas.
                              </li>
                              <li>
                                Contact your healthcare provider If you
                                are&nbsp;sick and need medical attention. Wait
                                for further care instructions and shelter in
                                place, if possible. If you are experiencing a
                                medical emergency, call 9-1-1.
                              </li>
                              <li>
                                Listen to EAS, NOAA Weather Radio or local
                                alerting systems for current emergency
                                information and instructions regarding flooding.
                              </li>
                              <li>
                                Do not walk, swim or drive through flood waters.
                                <strong>Turn Around. Don’t Drown!</strong>
                              </li>
                              <li>
                                Stay off bridges over fast-moving water.
                                Fast-moving water can wash bridges away without
                                warning.
                              </li>
                              <li>
                                Stay inside your car if it is trapped in rapidly
                                moving water. Get on the roof if water is rising
                                inside the car.
                              </li>
                              <li>
                                Get to the highest level if trapped in a
                                building. Only get on the roof if necessary and
                                once there signal for help. Do not climb into a
                                closed attic to avoid getting trapped by rising
                                floodwater.
                              </li>
                            </ul>
                          </div>
                        </div>

                        <h2 id="after">
                          <strong>Staying Safe After a Flood</strong>
                        </h2>

                        <div class="wp-block-fema-checklist checklist_fema">
                          <div class="checklist_fema__image--processed">
                            <article
                              data-quickedit-entity-id="media/1535"
                              class="contextual-region media media--type-graphic media--view-mode-default"
                            >
                              <div
                                data-contextual-id="media:media=1535:changed=1617996613&amp;langcode=en"
                                data-contextual-token="T4QG7hYkQZEnudIzta-szMVQdt80ByPQGmLXPJuLa4w"
                              ></div>
                              <div class="layout layout--onecol">
                                <div
                                  class="layout__region layout__region--content"
                                >
                                  <div
                                    data-quickedit-field-id="media/1535/field_media_image/en/default"
                                    class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                                  >
                                    <div class="field__label visually-hidden">
                                      Image
                                    </div>
                                    <div class="field__item">
                                      <img
                                        src="/static/Images/safetyFloods.jpg"
                                        width="480"
                                        height="395"
                                        alt="Illustration of a gloved hand cleaning up personal belongings from flood waters in their home. "
                                        typeof="foaf:Image"
                                        class="image-style-large"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </article>
                          </div>
                          <div class="checklist_fema_blocks">
                            <ul>
                              <li>
                                Pay attention to authorities for information and
                                instructions. Return home only when authorities
                                say it is safe.
                              </li>
                              <li>Avoid driving except in emergencies.</li>
                              <li>
                                Wear heavy work gloves, protective clothing and
                                boots during clean up and use appropriate face
                                coverings or masks if cleaning&nbsp;<a
                                  href="https://www.ifrc.org/press-release/kenya-red-cross-responds-humanitarian-emergency-following-deadly-floods"
                                  target="_blank"
                                  rel="noreferrer noopener"
                                  >mold or other debris.</a
                                >&nbsp;
                              </li>
                              <li>
                                People with&nbsp;<a
                                  href="https://www.ifrc.org/press-release/kenya-red-cross-responds-humanitarian-emergency-following-deadly-floods"
                                  target="_blank"
                                  rel="noreferrer noopener"
                                  >asthma and other lung conditions and/or
                                  immune suppression</a
                                >&nbsp;should not enter buildings with indoor
                                water leaks or mold growth that can be seen or
                                smelled. Children should not take part in
                                disaster cleanup work.
                              </li>
                              <li>
                                Be aware that snakes and other animals may be in
                                your house.
                              </li>
                              <li>
                                Be aware of the risk of electrocution. Do not
                                touch electrical equipment if it is wet or if
                                you are standing in water. Turn off the
                                electricity to prevent electric shock if it is
                                safe to do so.
                              </li>
                              <li>
                                Avoid wading in floodwater, which can be
                                contaminated and contain dangerous debris.
                                Underground or downed power lines can also
                                electrically charge the water.
                              </li>
                              <li>
                                Use a generator or other gasoline-powered
                                machinery ONLY outdoors and away from windows.
                              </li>
                            </ul>
                          </div>
                        </div>
               
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
{% endblock %}