{% extends "base.html" %} {% block content %}
<style>
  .J1 {
 
    background-color:#E0FFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 250px;
    margin: 300px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    padding-top: 10px;"
  }

</style>
<div class="region-content desktop:grid-col-fill">
  <div class="region region-content">
    <div data-drupal-messages-fallback class="hidden"></div>
    <div class="J1">
    <div
      id="block-uswds-ready-page-title"
      class="block block-core block-page-title-block"
    >
      <h1 class="uswds-page-title page-title">
        <span
          class="field field--name-title field--type-string field--label-hidden"
          >Get Tech Ready</span
        >
      </h1>
    </div>

    <div
      class="views-element-container block block-views block-views-blocktranslations-available-block-1"
      id="block-views-block-translations-available-block-1"
    >
      <div>
        <div
          class="view view-translations-available view-id-translations_available view-display-id-block_1 js-view-dom-id-0a013e3db54cb213169c9409453d864fe0aba1bb0c720a6f5d4a83e01b03ac6c"
        >
          <div
            id="block-uswds-ready-ready2017-system-main"
            class="block block-system block-system-main-block"
          >
            <article data-history-node-id="262">
              <div>
                <div class="layout layout--onecol">
                  <div class="layout__region layout__region--content">
                    <div
                      class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                    >
                      <p>
                        Technology has made it easier than ever to prepare for
                        emergencies, but it can be unreliable in an emergency if
                        you haven’t kept your gadgets protected and powered up.
                        Here are some tips to make sure you are tech ready:
                      </p>

                      <h2>Be Informed</h2>
                      <ul>
                        <li>
                          Get weather alerts from the National Weather Service
                          for up to five different locations anywhere in the
                          kenya.
                        </li>
                        <li>
                          Sign up to get updates from FEMA (standard message and
                          data rates apply).
                        </li>
                      </ul>

                      <p>Here are basic commands to get started:</p>
                      <ul>
                        <li>
                          To sign up to get preparedness tips: text
                          <strong>PREPARE</strong> to <strong>43362.</strong>
                        </li>
                        <li>
                          To search for open shelters (for disaster survivors):
                          text <strong>SHELTER</strong> and
                          <strong>a ZIP code</strong> to <strong>43362.</strong>
                        </li>
                        <li>
                          To get a list of all keywords you can subscribe to:
                          text <strong>LIST</strong> to <strong>43362.</strong>
                        </li>
                        <li>
                          To unsubscribe (at any time): text
                          <strong>STOP</strong> to <strong>43362.</strong>
                        </li>
                        <li>
                          Before a disaster, follow local government on social
                          media to stay up-to-date with official information
                          before, during and after a disaster. Sign up for
                          Twitter alerts from trusted government agencies to get
                          notified when critical information goes out.
                        </li>
                      </ul>

                      <h2>Make A Plan</h2>
                      <ul>
                        <li>
                          <strong
                            >Use text messages, social media and email to
                            connect with friends and family during
                            emergencies</strong
                          >.
                        </li>
                        <ul>
                          <li>
                            Mobile networks can become overwhelmed during
                            emergencies, making it hard to make and get phone
                            calls. Text messages require less bandwidth, which
                            means they are able to be transmitted more reliably
                            during situations when many people are trying to use
                            their mobile phones at the same time.
                          </li>
                          <li>
                            Social media channels such as Facebook and Twitter
                            can also be an effective way to update family and
                            friends during emergencies.
                            <a
                              href="http://newsroom.fb.com/news/2014/10/introducing-safety-check/"
                              >Facebook’s Safety Check feature</a
                            >
                            allows users to easily post a status update
                            indicating that they are safe during a time of
                            disaster.
                          </li>
                        </ul>
                        <li>
                          <strong
                            >Register with Kenya Red Cross’
                            <a href="">Safe &amp; Well</a> site to let family
                            and friends know you’re okay.</strong
                          >
                          Concerned family and friends can search this list to
                          find their loved one’s name,&nbsp;an “as of”
                          date&nbsp;and&nbsp;a message from you.
                        </li>
                        <li>
                          <strong
                            >Have an emergency charging option for your phone
                            and other mobile devices.</strong
                          >
                        </li>
                        <ul>
                          <li>
                            Smartphones have become a vital tool to get
                            emergency
                            <a href="/alerts">alerts and warnings</a> so it’s
                            important to make sure you can keep them powered up
                            in an emergency.
                          </li>
                          <li>
                            At home: Prior to severe weather make sure that all
                            of your electronic devices are fully charged. If the
                            power goes out save battery power by minimizing
                            device use. Keep a back-up power source on hand.
                          </li>
                          <li>
                            In your car: Keep a portable phone charger in your
                            car at all times and consider purchasing a back-up
                            power supply to keep in your car as well.
                          </li>
                          <li>
                            Change the settings on your phone to low power mode
                            or place it on airplane mode to conserve energy.
                          </li>
                        </ul>
                        <li>
                          <strong
                            >Store important documents on a secure,
                            password-protected jump drive or in the
                            cloud</strong
                          >.
                        </li>
                        <ul>
                          <li>
                            There are several apps for mobile devices that let
                            you use your phone’s camera as a scanning device.
                            This lets you capture electronic versions of
                            important documents such as insurance policies,
                            identification documents and medical records. Don’t
                            forget to include your pet’s information.
                          </li>
                          <li>
                            Back-up your computer to protect photos and other
                            important electronic documents.
                          </li>
                          <li>Scan old photos to protect them from loss.</li>
                          <li>
                            Keep your contacts updated and synced across all of
                            your channels, including phone, email and social
                            media. This will make it easy to reach out to the
                            right people quickly to get information and give
                            updates. Consider creating a group listserv of your
                            top contacts.
                          </li>
                          <li>
                            Create a group chat via a texting app or a thread
                            for family/friends/coworkers to communicate quickly
                            during a disaster.
                          </li>
                        </ul>
                        <li>
                          <strong
                            >Sign up for direct deposit and electronic banking
                            through your financial institution so you can access
                            your paycheck and make electronic payments wherever
                            you are.</strong
                          >
                        </li>
                        <ul>
                        </ul>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
