{% extends "base.html" %} {% block content %}
<style>
  .GI {
 
    background-color:#E0FFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 250px;
    margin: 300px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    padding-top: 10px;"
  }

</style>
<div class="region-content desktop:grid-col-fill">
  <div class="region region-content"   >
  
    <div data-drupal-messages-fallback class="hidden"></div>
    <div class="GI" style="
    background-color:#E0FFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 250px;
    margin: 300px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    padding-top: 10px;">
    <div
      id="block-uswds-ready-page-title"
      class="block block-core block-page-title-block"
    >
      <h1 class="uswds-page-title page-title">
        <span
          class="field field--name-title field--type-string field--label-hidden"
          >Get Involved</span
        >
      </h1>
    </div>

    <div
      class="views-element-container block block-views block-views-blocktranslations-available-block-1"
      id="block-views-block-translations-available-block-1"
    >
      <div>
        <div
          class="view view-translations-available view-id-translations_available view-display-id-block_1 js-view-dom-id-1a9423040ac80e454cf8f191a4ab193879274e1dbf2602eac579ce49b50ac43d"
        >
          <div
            id="block-uswds-ready-ready2017-system-main"
            class="block block-system block-system-main-block"
          >
            <article data-history-node-id="5919">
              <div>
                <div class="layout layout--onecol">
                  <div class="layout__region layout__region--content">
                    <div
                      class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                    >
                      <p>
                        Learn how you can help your community before, during and
                        after a disaster or emergency.
                      </p>

                      <h2 id="volunteer">
                        <strong>Volunteer &amp; Donate</strong>
                      </h2>
                      <p>
                        During disaster response, affected communities depend
                        heavily on local and national volunteer organizations to
                        provide trained volunteers and much-needed donated
                        supplies. Get involved today by donating to or
                        volunteering with a reputable organization.
                      </p>

                      <!-- Inserted image for Volunteer & Donate section -->
                      <img
                        loading="lazy"
                        src="/static/Images/Kenya+-+Porridge.jpg"
                        width="480"
                        height="321"
                        alt="Volunteerings Teaching of Children by educating them."
                        class="image-style-large"
                      />

                      <div
                        class="wp-block-fema-checklist checklist_fema_blocks"
                      >
                        <ul>
                          <li>
                            Remember, cash is best. During a disaster, you can
                            donate to a recognized disaster relief organization.
                            Financial contributions are the fastest, most
                            flexible and most effective method of donating.
                          </li>
                          <li>
                            Volunteer to respond to disasters and help your
                            community.
                          </li>
                          <li>
                            Join a Community Emergency Response Team (CERT)
                            program and get trained on basic disaster response
                            skills, such as fire safety, light search and
                            rescue, team organization, and disaster medical
                            operations.
                          </li>
                        </ul>
                      </div>

                      <h2 id="train"><strong>Train &amp; Educate</strong></h2>

                      <p>
                        You could help save countless lives by taking simple
                        actions to prepare your community or organization for a
                        disaster before one strikes. FEMA offers free trainings
                        and education tools to train yourself and others on the
                        best ways to prepare for, respond to, and recover from a
                        disaster or emergency.
                      </p>

                      <!-- Inserted image for Train & Educate section -->
                      <img
                        loading="lazy"
                        src="/static/Images/teachingVolunteer.webp"
                        width="480"
                        height="320"
                        alt="An instructor demonstrating CPR on a dummy"
                        class="image-style-large"
                      />

                      <div
                        class="wp-block-fema-checklist checklist_fema_blocks"
                      >
                        <ul>
                          <li>
                            You Are the Help Until Help Arrives,
                            are offered as online or in-person trainings
                            where you learn the basics of how to save a life
                            before a professional arrives.
                          </li>
                          <li>
                            Teach preparedness curriculum in your school or
                            childcare facility. Download everything you need for
                            grades K-12 through our Ready Kids program.
                          </li>
                          <li>
                            Promote preparedness online by sharing preparedness
                            tips on your social media accounts with Ready’s
                            online social media toolkit or public service
                            announcements.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
