{% extends "base.html" %} {% block content %}

<div class="region-content desktop:grid-col-fill">
  <div class="region region-content">
    <div data-drupal-messages-fallback class="hidden"></div>
    <div class="hero-image-container">
      <img loading="lazy" src="/static/Images/FireImage.webp" width="100%" height="400" alt="A wilted sunflower" />
    </div>
    <div
      id="block-uswds-ready-page-title"
      class="block block-core block-page-title-block"
    >
      <h1 class="uswds-page-title page-title">
        <span
          class="field field--name-title field--type-string field--label-hidden"
          >Home Fires</span
        >
      </h1>
    </div>
    <div
      class="views-element-container block block-views block-views-blocktranslations-available-block-1"
      id="block-views-block-translations-available-block-1"
    >
      <div>
        <div
          class="view view-translations-available view-id-translations_available view-display-id-block_1 js-view-dom-id-c2e4054f2430c38201c3fa9e4778045193e563e774d241e6478b317f7512255d"
        >
          <div
            id="block-uswds-ready-ready2017-system-main"
            class="block block-system block-system-main-block"
          >
            <article data-history-node-id="5137">
              <div>
                <div class="layout layout--onecol">
                  <div class="layout__region layout__region--content">
                    <div
                      class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                    >
                      <a class="fema-link" href="#about"
                        ><p>Learn About Fires</p></a
                      >

                      <a class="fema-link" href="#before"
                        ><p>Before a Fire</p></a
                      >

                      <a class="fema-link" href="#during"
                        ><p>During a Fire</p></a
                      >

                      <a class="fema-link" href="#after"><p>After a Fire</p></a>

                      <a class="fema-link" href="#prevent"
                        ><p>Prevent Home Fires</p></a
                      >
                      <p></p>

                      <p>
                        A fire can become life-threatening in just two minutes.
                        A residence can be engulfed in flames in five minutes.
                      </p>

                      <h2 id="about"><strong>Learn About Fires</strong></h2>

                      <ul>
                        <li>
                          <strong>Fire is FAST!&nbsp;</strong>In less than 30
                          seconds a small flame can turn into a major fire. It
                          only takes minutes for thick black smoke to fill a
                          house or for it to be engulfed in flames.
                        </li>
                        <li>
                          <strong>Fire is HOT!&nbsp;</strong>Heat is more
                          threatening than flames. Room temperatures in a fire
                          can be 100 degrees at floor level and rise to 600
                          degrees at eye level. Inhaling this super-hot air will
                          scorch your lungs and melt clothes to your skin.
                        </li>
                        <li>
                          <strong>Fire is DARK!&nbsp;</strong>Fire starts
                          bright, but quickly produces black smoke and complete
                          darkness.
                        </li>
                        <li>
                          <strong>Fire is DEADLY!&nbsp;</strong>Smoke and toxic
                          gases kill more people than flames do. Fire produces
                          poisonous gases that make you disoriented and drowsy.
                        </li>
                      </ul>

                      <h3><strong>Smoke Alarms</strong></h3>

                      <p>
                        A working smoke alarm significantly increases your
                        chances of surviving a deadly home fire.
                      </p>

                      <ul>
                        <li>
                          Replace batteries twice a year, unless you are using
                          10-year lithium batteries.
                        </li>
                        <li>
                          Install smoke alarms on every level of your home,
                          including the basement.
                        </li>
                        <li>
                          Replace the entire smoke alarm unit every 10 years or
                          according to manufacturer’s instructions.
                        </li>
                        <li>
                          Never disable a smoke alarm while cooking – it can be
                          a deadly mistake.
                        </li>
                        <li>
                          Audible alarms are available for visually impaired
                          people and smoke alarms with a vibrating pad or
                          flashing light are available for the hearing impaired.
                        </li>
                      </ul>

                      <h2 id="before"><strong>Before a Fire</strong></h2>

                      <p>
                        If you are insured, contact your insurance company for
                        detailed instructions on protecting your property,
                        conducting inventory and contacting fire damage
                        restoration companies.
                      </p>

                      <h3>
                        <strong>Create and Practice a Fire Escape Plan</strong>
                      </h3>

                      <div class="wp-block-drupalmedia-drupal-media-entity">
                        <article
                          class="media media--type-graphic media--view-mode-default"
                        >
                          <div class="layout layout--onecol">
                            <div class="layout__region layout__region--content">
                              <div
                                class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                              >
                                <div class="field__label visually-hidden">
                                  Image
                                </div>
                                <div class="field__item">
                                  <img
                                    loading="lazy"
                                    src="/static/Images/run for life.webp"
                                    width="480"
                                    height="395"
                                    alt="Peopl running a fire drill toward the safety spot. "
                                    class="image-style-large"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>

                      <p>
                        Remember that every second counts in the event of a
                        fire. Escape plans help you get out of your home
                        quickly.
                        <a
                          href="https://nairobi.go.ke/emergency-services/"
                          target="_blank"
                          rel="noreferrer noopener"
                          >Practice your home fire escape plan</a
                        >
                        twice each year. Some tips to consider when preparing
                        this plan include:
                      </p>

                      <ul>
                        <li>
                          Find two ways to get out of each room in the event the
                          primary way is blocked by fire or smoke.
                        </li>
                        <li>
                          Make sure that windows are not stuck, screens can be
                          taken out quickly and that security bars can be
                          properly opened.
                        </li>
                        <li>
                          Practice feeling your way out of the house in the dark
                          or with your eyes closed.
                        </li>
                        <li>Teach children not to hide from firefighters.</li>
                        <li>
                          If you use a walker or wheelchair, check all exits to
                          be sure you can get through the doorways.
                        </li>
                      </ul>

                      <h3><strong>Fire Safety Tips</strong></h3>

                      <ul>
                        <li>
                          Make digital copies of valuable documents and records
                          like birth certificates.
                        </li>
                        <li>Sleep with your bedroom door closed.</li>
                        <li>
                          Keep a fire extinguisher in your kitchen. Contact your
                          local fire department for assistance on proper use and
                          maintenance.
                        </li>
                        <li>
                          Consider installing an automatic fire sprinkler system
                          in your residence.
                        </li>
                      </ul>

                      <h2 id="during"><strong>During a Fire</strong></h2>

                      <div class="wp-block-drupalmedia-drupal-media-entity">
                        <article
                          class="media media--type-graphic media--view-mode-default"
                        >
                          <div class="layout layout--onecol">
                            <div class="layout__region layout__region--content">
                              <div
                                class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                              >
                                <div class="field__label visually-hidden">
                                  Image
                                </div>
                                <div class="field__item">
                                  <img
                                    loading="lazy"
                                    src="/static/Images/AFP.webp"
                                    width="480"
                                    height="395"
                                    alt="A man crawling low under smoke toward an exit. "
                                    class="image-style-large"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>

                      <ul>
                        <li>
                          Drop down to the floor and crawl low, under any smoke
                          to your exit. Heavy smoke and poisonous gases collect
                          first along the ceiling.
                        </li>
                        <li>
                          Before opening a door, feel the doorknob and door. If
                          either is hot, or if there is smoke coming around the
                          door, leave the door closed and use your second way
                          out.
                        </li>
                        <li>
                          If you open a door, open it slowly. Be ready to shut
                          it quickly if heavy smoke or fire is present.
                        </li>
                        <li>
                          If you can’t get to someone needing assistance, leave
                          the home and call 9-1-1 or the fire department. Tell
                          the emergency operator where the person is located.
                        </li>
                        <li>
                          If pets are trapped inside your home, tell
                          firefighters right away.
                        </li>
                        <li>
                          If you can’t get out, close the door and cover vents
                          and cracks around doors with cloth or tape to keep
                          smoke out. Call 9-1-1 or your fire department. Say
                          where you are and signal for help at the window with a
                          light-colored cloth or a flashlight.
                        </li>
                        <li>
                          If your clothes catch fire,<strong>
                            stop, drop and roll</strong
                          >&nbsp;– stop immediately, drop to the ground and
                          cover your face with your hands.&nbsp;Roll over and
                          over or back and forth until the fire is out. If you
                          or someone else cannot stop, drop and roll, smother
                          the flames with a blanket or towel.&nbsp;Use cool
                          water to treat the burn immediately for three to five
                          minutes. Cover with a clean, dry cloth.&nbsp;Get
                          medical help right away by calling 9-1-1 or the fire
                          department.
                        </li>
                      </ul>

                      <h2 id="after"><strong>After a Fire</strong></h2>

                      <ul>
                        <li>
                          Contact your local disaster relief service, such as
                          The Red Cross, if you need temporary housing, food and
                          medicines.
                        </li>
                        <li>
                          Check with the fire department to make sure your
                          residence is safe to enter.
                        </li>
                        <li>
                          DO NOT attempt to reconnect utilities yourself. The
                          fire department should make sure that utilities are
                          either safe to use or are disconnected before they
                          leave the site.;
                        </li>
                        <li>
                          Conduct an inventory of damaged property and
                          items.Do not throw away any damaged goods until
                          after you make the inventory of your items.
                        </li>
                        <li>
                          Begin saving receipts for any money you spend related
                          to fire loss.The receipts may be needed later by
                          the insurance company and for verifying losses claimed
                          on your income tax.
                        </li>
                        <li>Notify your mortgage company of the fire.</li>
                      </ul>

                      <h2 id="prevent"><strong>Prevent Home Fires</strong></h2>

                      <p>
                        Home fires can be preventable. The following are simple
                        steps that each of us can take to prevent a tragedy.
                      </p>

                      <div class="wp-block-drupalmedia-drupal-media-entity">
                        <article
                          class="media media--type-graphic media--view-mode-default"
                        >
                          <div class="layout layout--onecol">
                            <div class="layout__region layout__region--content">
                              <div
                                class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                              >
                                <div class="field__label visually-hidden">
                                  Image
                                </div>
                                <div class="field__item">
                                  <img
                                    loading="lazy"
                                    src="/static/Images/fire-extig.webp"
                                    width="480"
                                    height="395"
                                    alt="a fireplace with a fire extinguisher."
                                    class="image-style-large"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>

                      <div class="wp-block-columns">
                        <div class="wp-block-column">
                          <h3><strong>Cooking</strong></h3>

                          <ul>
                            <li>
                              Stay in the kitchen when you are frying, grilling
                              or broiling food. Turn off the stove if you leave
                              the kitchen for even a short period of time.
                            </li>
                            <li>
                              Wear short, close-fitting or tightly rolled
                              sleeves when cooking.
                            </li>
                            <li>
                              Position barbecue grills at least 10 feet away
                              from siding and deck railings, and out from under
                              eaves and overhanging branches.
                            </li>
                            <li>Keep a fire extinguisher available.</li>
                          </ul>

                          <h3>
                            <strong>Electrical and Appliance Safety</strong>
                          </h3>

                          <ul>
                            <li>
                              Frayed wires can cause fires. Replace all worn,
                              old or damaged appliance cords immediately and do
                              not run cords under rugs or furniture.
                            </li>
                            <li>
                              If an appliance has a three-prong plug, use it
                              only in a three-slot outlet. Never force it to fit
                              into a two-slot outlet or extension cord.
                            </li>
                            <li>
                              Immediately shut off, then professionally replace,
                              light switches that are hot to the touch and
                              lights that flicker.
                            </li>
                          </ul>

                          <h3 id="holiday">Holiday Safety</h3>

                          <ul>
                            <li>
                              Turn off holiday lights at night or when you leave
                              the house.
                            </li>
                            <li>
                              Replace any string of lights with worn or broken
                              cords or loose bulb connections.
                            </li>
                            <li>
                              Keep candles at least 12 inches away from
                              flammable materials or consider using flameless
                              candles.
                            </li>
                            <li>
                              Water your Christmas tree daily and don’t let it
                              dry out. A dry tree is more flammable.&nbsp;
                            </li>
                            <li>
                              Make sure your tree is at least three feet away
                              from any heat source, like fireplaces, radiators,
                              candles, heat vents or lights, and not blocking an
                              exit.
                            </li>
                            <li>Don’t overload extension cords and outlets.</li>
                          </ul>
                        </div>

                        <div class="wp-block-column">
                          <h3><strong>Fireplaces and Woodstoves</strong></h3>

                          <ul>
                            <li>
                              Inspect and clean woodstove pipes and chimneys
                              annually and check monthly for damage or
                              obstructions.
                            </li>
                            <li>
                              Use a fireplace screen heavy enough to stop
                              rolling logs and big enough to cover the entire
                              opening of the fireplace to catch flying sparks.
                            </li>
                            <li>
                              Make sure the fire is completely out before
                              leaving the house or going to bed.
                            </li>
                          </ul>

                          <h3><strong>Portable Space Heaters</strong></h3>

                          <ul>
                            <li>
                              Keep combustible objects at least three feet away
                              from portable heating devices.
                            </li>
                            <li>
                              Only buy heaters evaluated by a nationally
                              recognized laboratory, such as Underwriters
                              Laboratories (UL).
                            </li>
                            <li>
                              Check to make sure the portable heater has a
                              thermostat control mechanism and will switch off
                              automatically if the heater falls over.
                            </li>
                            <li>
                              Only use crystal clear K-1 kerosene in kerosene
                              heaters. Never overfill it. Use the heater in a
                              well-ventilated room away from curtains and other
                              flammable items.
                            </li>
                          </ul>

                          <h3><strong>Keeping Children Safe</strong></h3>

                          <ul>
                            <li>
                              Take the mystery out of fire play by teaching
                              children that fire is a tool, not a toy.
                            </li>
                            <li>
                              Store matches and lighters out of children's reach
                              and sight, preferably in a locked cabinet.
                            </li>
                            <li>
                              Never leave children unattended near operating
                              stoves or burning candles, even for a short time.
                            </li>
                          </ul>

                          <h3><strong>More Fire Prevention Tips</strong></h3>

                          <ul>
                            <li>
                              Never use a stove range or oven to heat your home.
                            </li>
                            <li>
                              Keep combustible and flammable liquids away from
                              heat sources.
                            </li>
                            <li>
                              Portable generators
                              should&nbsp;<strong>NEVER</strong>&nbsp;be used
                              indoors and should only be refueled outdoors and
                              in well ventilated areas.
                            </li>
                          </ul>

                          <p></p>
                        </div>
                      </div>
                      {%endblock%}
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
