{% extends "base.html" %} {% block content %}

<div class="region-content desktop:grid-col-fill">
  <div class="region region-content">
    <div data-drupal-messages-fallback class="hidden"></div>
    <div class="hero-image-container">
      <img loading="lazy" src="/static/Images/medical pandemic.webp" width="100%" height="400" alt="A wilted sunflower" />
    </div>
    <div
      id="block-uswds-ready-page-title"
      class="block block-core block-page-title-block"
    >
      <h1 class="uswds-page-title page-title">
        <span
          class="field field--name-title field--type-string field--label-hidden"
          >Pandemics</span
        >
      </h1>
    </div>

    <div
      class="views-element-container block block-views block-views-blocktranslations-available-block-1"
      id="block-views-block-translations-available-block-1"
    >
      <div>
        <div
          class="view view-translations-available view-id-translations_available view-display-id-block_1 js-view-dom-id-186b5a5e788ada6c403577d5dc11e36cf7631dabfe3566e57185d2adc061dce3"
        >
          <div
            id="block-uswds-ready-ready2017-system-main"
            class="block block-system block-system-main-block"
          >
            <article data-history-node-id="5140">
              <div class="layout layout--onecol">
                <div class="layout__region layout__region--content">
                  <div
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                  >
                    <a class="fema-link" href="#prepare"
                      ><p>Prepare for Pandemic</p></a
                    >
                    <a class="fema-link" href="#during"
                      ><p>Stay Safe During</p></a
                    >
                    <a class="fema-link" href="#after"
                      ><p>Stay Safe After</p></a
                    >

                    <p>
                      A pandemic is a disease outbreak that spans several
                      countries and affects a large number of people. Pandemics
                      are most often caused by viruses which can easily spread
                      from person to person.
                    </p>

                    <p>
                      A new virus can emerge from anywhere and quickly spread
                      around the world. It is hard to predict when or where the
                      next new pandemic will emerge.
                    </p>

                    <p><strong>If a Pandemic is declared:</strong></p>

                    <ul>
                      <li>
                        Wash your hands often with soap and water for at least
                        20 seconds and try not to touch your eyes, nose or
                        mouth.
                      </li>
                      <li>
                        Keep a distance of at least six feet between yourself
                        and people who are not part of your household.
                      </li>
                      <li>
                        Cover your mouth and nose with a mask when in public.
                      </li>
                      <li>
                        Clean and disinfect high-touch objects and surfaces.
                      </li>
                      <li>
                        Stay at home as much as possible to prevent the spread
                        of disease.
                      </li>
                      <li>
                        Follow the guidance of the
                        <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Kenya"
                          >Centers for Disease Control and Prevention</a
                        >
                        (CDC).
                      </li>
                    </ul>

                    <p></p>

                    <h2 id="prepare">How to Prepare Yourself for a Pandemic</h2>

                    <div class="wp-block-fema-checklist checklist_fema">
                      <div class="checklist_fema__image--processed">
                        <article
                          class="contextual-region media media--type-graphic media--view-mode-default"
                        >
                          <div
                            data-contextual-id="media:media=1531:changed=1644607237&amp;langcode=en"
                            data-contextual-token="0SD8cWbiShKSv0kX4WqFk-uBf887djlwEN0RXulGiaI"
                            data-drupal-ajax-container=""
                          ></div>
                          <div class="layout layout--onecol">
                            <div class="layout__region layout__region--content">
                              <div
                                class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                              >
                                <div class="field__label visually-hidden">
                                  Image
                                </div>
                                <div class="field__item">
                                  <img
                                    loading="lazy"
                                    src="/static/Images/support_group_kenya.jpg"
                                    width="480"
                                    height="240"
                                    alt="Illustration of Support Team, She is ready to guide them. "
                                    class="image-style-large"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                      <div class="checklist_fema_blocks">
                        <ul>
                          <li>
                            <strong>Learn how diseases spread&nbsp;</strong>to
                            help protect yourself and others. Viruses can be
                            spread from person to person, from a non-living
                            object to a person and by people who are infected
                            but don’t have any symptoms.
                          </li>
                        </ul>
                        <ul>
                          <li>
                            <strong
                              >Prepare for the possibility of schools,
                              workplaces and community centers being
                              closed.&nbsp;</strong
                            >Investigate and prepare for virtual coordination
                            for school, work (telework) and social activities.
                          </li>
                          <li>
                            <strong
                              >Gather supplies in case you need to stay home for
                              several days or weeks.&nbsp;</strong
                            >Supplies may include cleaning supplies,
                            non-perishable foods, prescriptions and bottled
                            water. Buy supplies slowly to ensure that everyone
                            has the opportunity to buy what they need.
                          </li>
                          <li>
                            <strong style="background-color: initial"
                              >Create an emergency plan&nbsp;</strong
                            ><span style="background-color: initial"
                              >so that you and your family know what to do and
                              what you will need in case an outbreak happens.
                              Consider how a pandemic may affect your plans for
                              other emergencies.</span
                            >
                          </li>
                          <li>
                            <strong
                              >Review your health insurance
                              policies&nbsp;</strong
                            >to understand what they cover, including
                            telemedicine options.
                          </li>
                          <li>
                            <strong
                              >Create password-protected digital copies of
                              important documents&nbsp;</strong
                            >and store in a safe place. Watch out for scams and
                            fraud.
                          </li>
                        </ul>
                      </div>
                    </div>

                    <p></p>

                    <h2 id="during">Stay Safe During a Pandemic</h2>

                    <div class="fema-callout fafbf7 alert">
                      <img
                        src="/static/Images/RegisterPatient.jpg"
                        alt="alert - warning"
                      />
                      <p>
                        <strong>Follow the latest guidelines&nbsp;</strong>from
                        the <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Kenya">CDC</a>. Refer to
                        your local and state public health departments for
                        vaccine and testing updates.
                      </p>
                    </div>

                    <div class="wp-block-fema-feature feature_standalone">
                      <figure
                        class="feature_standalone__image"
                        style="
                          background-image: url('/sites/default/files/2021-03/featured_illustration_pandemic_vaccine_2.png');
                        "
                      >
                        <img
                          alt="feature_standalone img"
                          src="/static/Images/malaria-vaccine.webp"
                          data-entity-type="file"
                          data-entity-uuid="0ca0bbe0-925c-4da7-9e5f-334cf7b5c81b"
                          data-image-style="original"
                        />
                      </figure>
                      <div class="feature_standalone_blocks">
                        <p>
                          <strong>Get vaccinated.</strong> Vaccines stimulate
                          your immune system to produce antibodies, so vaccines
                          actually prevent diseases.
                        </p>
                      </div>
                    </div>

                    <div class="wp-block-fema-checklist checklist_fema">
                      <div class="checklist_fema_blocks">
                        <ul>
                          <li>
                            <strong
                              >Take actions to prevent the spread of
                              disease.&nbsp;</strong
                            >Cover coughs and sneezes. Wear a mask in public.
                            Stay home when sick (except to get medical care).
                            Disinfect surfaces. Wash hands with soap and water
                            for at least 20 seconds. If soap and water are not
                            available, use a hand sanitizer that contains at
                            least 60 percent alcohol. Stay six feet away from
                            people who are not part of your household.
                          </li>
                          <li>
                            <strong
                              >If you believe you’ve been exposed to the
                              disease,&nbsp;</strong
                            >contact your doctor, follow the quarantine
                            instructions from medical providers and monitor your
                            symptoms. If you’re experiencing a medical
                            emergency, call 9-1-1 and shelter in place with a
                            mask, if possible, until help arrives.
                          </li>
                          <li>
                            <strong
                              >Share accurate information about the
                              disease&nbsp;</strong
                            >with friends, family and people on social media.
                            Sharing bad information about the disease or
                            treatments for the disease may have serious health
                            outcomes. Remember that stigma hurts everyone and
                            can cause discrimination against people, places or
                            nations.
                          </li>
                          <li>
                            <strong
                              >Know that it’s normal to feel anxious or
                              stressed.&nbsp;</strong
                            >Engage virtually with your community through video
                            and phone calls. Take care of your body and talk to
                            someone if you are feeling upset.
                          </li>
                        </ul>
                      </div>
                    </div>

                    <h2 id="after">Stay Safe After a Pandemic</h2>

                    <div class="wp-block-drupalmedia-drupal-media-entity">
                      <article
                        class="media media--type-graphic media--view-mode-default"
                      >
                        <div class="layout layout--onecol">
                          <div class="layout__region layout__region--content">
                            <div
                              class="field field--name-field-media-image field--type-image field--label-visually_hidden"
                            >
                              <div class="field__label visually-hidden">
                                Image
                              </div>
                              <div class="field__item">
                                <img
                                  loading="lazy"
                                  src="/static/Images/vaccination.jpg"
                                  width="480"
                                  height="240"
                                  alt="Illustration of two hands being washed with soap under a faucet. "
                                  class="image-style-large"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>

                    <ul>
                      <li>
                        <strong
                          >Continue taking protective actions, like:</strong
                        >
                        <ul>
                          <li>
                           Go fo the final test for assurance that you arr free from the virus.
                          </li>
                          <li>
                            Staying home when you are sick (except to get
                            medical care).
                          </li>
                          <li>
                            Following the guidance of your health care provider.
                          </li>
                          <li>Covering coughs and sneezes with a tissue.</li>
                          <li>
                            Washing your hands with soap and water for at least
                            20 seconds.
                          </li>
                        </ul>
                      </li>
                      <li>
                        <strong
                          >Be sure to evaluate your family emergency
                          plan;</strong
                        >and make timely updates.
                      </li>
                      <li>
                        <strong>Work with your community&nbsp;</strong>to talk
                        about the lessons you learned from the pandemic. Decide
                        how you can use these experiences to be more prepared
                        for future pandemics.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
