{% extends "base.html" %} {% block content %}
<style>
  .S1 {
 
    background-color:#E0FFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 250px;
    margin: 300px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    padding-top: 10px;"
  }
</style>

<div class="region-content desktop:grid-col-fill">
  <div class="region region-content">
    <div data-drupal-messages-fallback class="hidden"></div>
    <div class="S1">
    <div
      id="block-uswds-ready-page-title"
      class="block block-core block-page-title-block"
    >
      <h1 class="uswds-page-title page-title">
        <span
          class="field field--name-title field--type-string field--label-hidden"
          >Safety Skills</span
        >
      </h1>
    </div>
    <div
      class="views-element-container block block-views block-views-blocktranslations-available-block-1"
      id="block-views-block-translations-available-block-1"
    >
      <div>
        <div
          class="view view-translations-available view-id-translations_available view-display-id-block_1 js-view-dom-id-4cc35df35cbb13ecb918afbead75e90f8d3796c08bbbf0a2ecc4f66e1c14cd2f"
        >
          <div
            id="block-uswds-ready-ready2017-system-main"
            class="block block-system block-system-main-block"
          >
            <article data-history-node-id="174">
              <div class="layout layout--onecol">
                <div class="layout__region layout__region--content">
                  <div
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                  >
                    <h2>Learn First Aid and CPR</h2>
                    <p>
                      Take a first aid and CPR class. You can get more
                      information about training from your local
                      <a
                        href="http://www.redcross.org/what-we-do/training-education"
                        >American Red Cross</a
                      >
                      chapter. Getting certified protects you under Good
                      Samaritan laws if you have to give first aid.
                    </p>
                    <p>
                      Get more information about the supplies in a
                      <a href="/kit"><u>first aid kit.</u></a>
                    </p>
                    <h2>Learn to Use a Fire Extinguisher</h2>
                    <p>
                      Have at least one up-to-date fire extinguisher and let
                      everyone in your household know where it's kept and how to
                      use it. You should have an ABC type at minimum.
                    </p>
                    <p>
                      The U.S. Fire Administration says you should only use a
                      fire extinguisher if you've been trained in its proper use
                      and maintenance. Contact your local fire department for
                      information on training in your area. Get more information
                      about preparedness for a
                      <a href="/home-fires"><u>fire emergency</u></a
                      >.
                    </p>
                    <h2>Know How to Shut Off Utilities</h2>
                    <h3><strong>Natural Gas</strong></h3>
                    <p>
                      Natural gas leaks and explosions cause a significant
                      number of fires after disasters. It's important that all
                      household members know how to shut off natural gas.
                    </p>
                    <p>
                      There are different gas shut-off procedures for different
                      gas meter configurations, so it's important to call your
                      gas company. They can help you prepare for gas appliances
                      and gas service to your home in the event of an emergency.
                    </p>
                    <p>
                      Make sure everyone in your household knows the proper
                      shut-off procedure for your meter. Do not actually turn
                      off the gas when practicing shutting it off.
                    </p>
                    <ul>
                      <li>
                        If you smell gas or hear a blowing or hissing noise,
                        open a window and get everyone out quickly. Turn off the
                        gas using the outside main valve if you can and call the
                        gas company from a neighbor’s home.
                      </li>
                      <li>
                        Caution: If you turn off the gas for any reason, only a
                        qualified professional can turn it back on. NEVER
                        attempt to turn the gas back on yourself.
                      </li>
                    </ul>
                    <p>
                      <iframe
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""
                        frameborder="0"
                        height="315"
                        src="https://www.youtube.com/embed/0zCl5MuiOu4"
                        width="560"
                      ></iframe>
                    </p>
                    <h2>Water</h2>
                    <p>
                      Water quickly becomes a precious resource following many
                      disasters. It is important that everyone in your household
                      learn how to shut off the main water valve to the house.
                    </p>
                    <ul>
                      <li>
                        Find the shut-off valve for the main water line that
                        enters your house and tag it for easy identification.
                        Make sure everyone in your household knows where it is.
                      </li>
                      <li>
                        Make sure you can shut the valve off completely. Your
                        valve may be rusted open or it may not close all the
                        way. If so, replace it.
                      </li>
                      <li>
                        Cracked lines may pollute the water supply to your
                        house. It's a good idea to shut off your water until
                        authorities say it's safe to drink.
                      </li>
                    </ul>
                    <p>
                      The effects of gravity may drain the water in your hot
                      water heater and toilet tanks unless you trap it in your
                      house by shutting off the main house valve. (This is not
                      the street valve in the cement box at the curb – the
                      street valve is extremely difficult to turn and requires a
                      special tool.)
                    </p>
                    <h3><strong>Electricity</strong></h3>
                    <p>
                      Electrical sparks can ignite natural gas if it is leaking.
                      Teach all responsible household members how to shut off
                      the electricity.
                    </p>
                    <ul>
                      <li>
                        Locate your electrical circuit box. For your safety,
                        always shut off all the individual circuits before
                        shutting off the main circuit.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
